@mixin cards-servicios-mobile {
    padding: 15px 15px;
    text-align: center;
    background-color: $primary;
    margin: 15px 15px;
    border-radius: 8px;
    border: solid 1px $light-gold;
        h3{
            color: $light-gold;
            font-family: Phillosopher;
            font-weight: 700;
        }
}

@mixin cards-servicios-desktop ($paddingtop) {
    padding-top: $paddingtop;
    padding-right: 200px;
    padding-left: 200px;
    background: none;
    margin:auto;
    border: none;
    p{
        text-align: start;
    }
}

@mixin cards-index-mobile ($background) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), $background;
        background-repeat: no-repeat;
        background-size: 560px 400px;
        background-position: center;
        text-align: center;
        border-radius: 8px;
        margin: 15px;
        padding: 40px;
}

@mixin cards-index-desktop{
        padding: 80px 20px;
        margin: 40px;
        button{
            padding: 3px 20px;
            border-radius: 8px;
            a:hover{
                color: $light;
            }
        }
}

@mixin carousel-areas-desktop ($background) {
        background-image: $background;
        background-size: cover;
        text-align: center;
        height: 550px;
        padding-top: 50px;
        border-radius: 8px;
}

@mixin carousel-areas-mobile ($background) {
    background-image: $background;
    background-size: cover;
    text-align: center;
    height: 300px;
}

@mixin cards-sobrenosotros ($flex-direction) {
    display: flex;
            flex-direction: $flex-direction;
            justify-content: space-around;
            padding-top: 20px;
            &__text{
                width: 40%;
                text-align: start;
            }
            img{
                height: 280px;
                width: 440px;
                align-self: flex-end;
            }
            h1,h2{
                padding-left: 10px;
            }
}

@mixin cards-sobrenosotros-tablet ($flex-direction) {
    display: flex;
            flex-direction: $flex-direction;
            justify-content: space-around;
            margin: 20px;
            padding: 5px;
            &__text{
                width: 60%;
                text-align: start;
            }
            img{
                height: 240px;
                width: 320px;
                align-self: flex-end;
                margin-bottom: 30px;
            }
            h1,h2{
                padding-left: 15px;
            }
}