/* INICIA AREAS MOBILE*/
.carousel-inner{
    button{
        background-color: $light-gold;
        color: $light;
        font-size: 1.2rem;
        font-weight: 400;
        border: none;
        padding: 5px 24px;
        border-radius: 8px;
        text-shadow: $primary 2px 1px 2px;
    }
    h3{
        padding-top: 15px;
        padding-bottom: 5px;
        font-weight: 700;
        font-size: 2.3rem;
        text-shadow: $primary 4px 1px 2px;
    }
    img{
        padding-top: 50px;
        width: 30px;
    }
}
#carousel__penal{
    @include carousel-areas-mobile (url(../img/spenal.webp))
}
#carousel__laboral{
    @include carousel-areas-mobile (url(../img/slaboral.webp));
}
#carousel__civil{
    @include carousel-areas-mobile (url(../img/scivil.webp));
}
.carousel-control-prev,
.carousel-control-next{
    margin-top: 200px;
    margin-bottom: 150px;
}
// Inicia areas
.main__areas{
    background-image: url(../img/back-servicios.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: $light;
    width: 100%;
    height: 100%;
        p, li{
            font-family: "Mulish", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: 300;
        }
        h3{
            font-family: "Philosopher", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: $light-gold;
        }
}
.text__areas{
    padding: 35px 15px;
        h2{
            padding-left: 5px;
            text-shadow: $primary 4px 1px 2px;
    }
}
.cards{
    text-align: center;
    list-style: none;
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    gap: 35px;
        h3{
            padding: 10px 0 10px;
            text-shadow: $primary 2px 1px 2px;
        }
        &__areas__penal,
        &__areas__laboral,
        &__areas__civil{
            background: rgba(246, 216, 97, 0.075);
            padding: 20px 20px;
            height: 380px;
            width: 320px;
        }
}
/* FIN AREAS MOBILE*/
/* INICIA AREAS TABLET */
@media (min-width: 768px) {
    #carousel__penal,
    #carousel__civil,
    #carousel__laboral{
        height: 500px;
    }
    .carousel-inner{
        img{
            padding-top: 150px;
            width: 50px;
        }
        h3{
            font-size: 3.5rem;
        }
    }
    .text__areas{
        padding-top: 60px;
        padding-left: 50px;
    }
    .cards{
        text-align: center;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        padding: 30px;
            &__areas__penal,
            &__areas__laboral,
            &__areas__civil{
                background: #07061278;
                padding: 20px 5px 20px;
                height: 400px;
                width: 200px;
                border-radius: 8px;
            }
    }
}
/* Fin areas tablet */
/*Inicia Areas desktop*/
@media  (min-width: 992px) {
    .main__areas{
        background:linear-gradient(0deg, rgba(7,6,18,1) 30%, rgba(11,34,58,1) 100%);
        width: 100%;
        height: 100%;
    }
    #areas-container{
        background-image: url(../img/back-servicios.webp);
        background-size:cover;
        background-repeat: no-repeat;
        background-position:center;
        margin-top: 30px;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    #carouselExampleIndicators{
        padding: 150px 200px 5px 140px;
        display: block;
    }
    .carousel-inner{
        padding-left: 50px;
        button{
                &:hover{
                    background-color: $secondary;
                    transition: .2s;
                }
                a:hover{
                    color: $light;
                }
        }
        h3{
            color: $light;
        }
        img{
            padding-top: 50px;
        }
    }
    #carousel__penal{
        @include carousel-areas-desktop (url(../img/spenal.webp))
    }
    #carousel__laboral{
        @include carousel-areas-desktop (url(../img/slaboral.webp));
        
    }
    #carousel__civil{
        @include carousel-areas-desktop (url(../img/scivil.webp));
    }
    .cards{
        img{
            width: 30px;
            height: 30px;
        }
        h3{
            padding: 10px 0 10px;
        }
            &__areas{
                text-align: center;
                list-style: none;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-items: center;
                padding-top: 50px;
                    &__penal,
                    &__laboral,
                    &__civil{
                        background: rgba(6, 17, 30, 0.651);
                        padding: 20px 20px;
                        height: 380px;
                        width: 320px;
                        border-radius: 8px;
                    }
            } 
    }
    .text__areas{
        h2{
            padding-left: 80px;
        }
        p{
            padding-left: 80px;
            margin-right: 700px;
        }
    }
}
/*Finaliza areas desktop*/