/* INICIA NOSOTROS MOBILE*/
#main-nosotros{
    background: linear-gradient(0deg, rgba(7,6,18,1) 60%, rgba(11,34,58,1) 80%);
    color: $light;
    padding-top: 35px;
}
/* Sobre nosotros */
.sobre-nosotros{
    display: flex;
    flex-direction: column;
    align-content:space-around;
    padding-left: 15px;
    padding-right: 15px;
    h2, p{
        padding: 20px 15px;
    }
}
.nosotros__sobrenosotros,
.nosotros__nuestroobjetivo{
    border: solid 1px $light-gold;
    text-align: center;
    padding: 20px 0;
    margin:5px;
    background-color:$light;
    color:$secondary;
    border-radius: 8px;
    img{
        border-radius: 8px;
        box-shadow: $secondary 0px 3px 10px;
        width: 320px;
        height: 220px;
    }
}
/* Fin sobre nosotros */
/* Inicia nuestro equipo */
.nuestro-equipo{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.nosotros__nuestroequipo__container{
    padding-top: 50px;
    background: linear-gradient(180deg, rgba(7,6,18,1) 20%, rgba(11,34,58,1) 100%);
    h2{
        padding-left: 15px;
        text-shadow: $secondary 2px 1px 2px;
    }
    h3{
        font-family: "Taviraj",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: $light-gold;
        font-weight: 600;
        padding-top: 10px;
        text-shadow: $primary 2px 1px 2px;
    }
    h4, li{
        font-family: "Mulish", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 300;
        padding-bottom: 10px;
    }
    .penal__logos,
    .civil__logos{
        display: flex;
        justify-content: space-around;
        filter: invert(97%) sepia(12%) saturate(1723%) hue-rotate(290deg) brightness(114%) contrast(83%);
    }
}
.nosotros__penal,
.nosotros__civil{
    text-align: center;
    background: none;
    .penal__img,
    .civil__img{
        border-radius: 8px;
        width: 300px;
        box-shadow: $secondary 0px 3px 10px;
    }
    li{
        list-style: none;
        text-align: start;
        padding: 15px 15px;
    }
}
/* FIN NOSOTROS MOBILE*/
/* INICIA NOSOTROS TABLET */
@media (min-width: 768px) {
    #main-nosotros{
        background: linear-gradient(0deg, rgba(7,6,18,1) 60%, rgba(11,34,58,1) 80%);
        color:#faebd7;
        padding-top: 60px;
    }
    .nosotros__sobrenosotros,
    .nosotros__nuestroobjetivo{
        margin: 50px;
        img{
            width: 520px;
            height: 360px;
        }
    }
    .nuestro-equipo{
        display: grid;
        align-content: space-between;
        grid-template-columns: auto auto;
        margin-top: 50px;
    }
    .nosotros__nuestroequipo__container{
        background: linear-gradient(180deg, rgba(7,6,18,1) 20%, rgba(11,34,58,1) 100%);
        h2{
            padding-left: 50px;
        }
    }
}
/* FIN NOSOTROS TABLET */
/*INICIA NOSOTROS DESKTOP*/
@media  (min-width: 992px) {
    #main-nosotros{
        padding-top: 160px;
    }
    /*sobre nosotros*/
    .sobre-nosotros{
        display: grid;
        align-content:space-around;
        grid-template-columns: auto auto;
        gap: 100px 100px;
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 50px;
        p{
            font-weight: 500;
            padding-top: 5px;
        }
        h2{
            color:$secondary;
            padding: 5px;
            font-size: 2.5rem;
        }
        img{
            width: 400px;
            height: 260px;
        }
        .nosotros__sobrenosotros,
        .nosotros__nuestroobjetivo{
            padding: 20px;
            background-color: $light;
            border-radius: 8px;
            margin: 20px;
        }
    }
    /*fin sobre nosotros general*/
    /*Inicia nuestro equipo*/
    .nosotros__nuestroequipo__container{
        h2{
            padding-left: 160px;
            padding-top: 20px;
        }
        h3{
            padding-top: 20px;
        }
        .penal__li{
            padding-left: 100px;
        }
        .civil__li{
            padding-left: 20px;
            padding-bottom: 20px;
        }
    }
    .nuestro-equipo{
        display: grid;
        align-content: space-between;
        grid-template-columns: auto auto;
        margin-top: 25px;
    }
    .nosotros__civil{
        padding-right: 100px;
        .civil__logos{
            display: flex;
            justify-content: space-around;
            padding: 20px 160px;
            .civil__logos__linkedin:hover, .civil__logos__gmail:hover,.civil__logos__fb:hover{
            transform: scale(1.2);
            transition: 0.1s;
            filter: invert(10%) sepia(300%) saturate(1000%) hue-rotate(290deg) brightness(80%) contrast(23%);  
            }
        }
    }
    .penal__logos{
        display: flex;
        justify-content: space-around;
        padding: 20px 230px;
        .penal__logos__linkedin:hover, .penal__logos__gmail:hover,.penal__logos__fb:hover{
        transform: scale(1.2);
        transition: 0.1s;
        filter: invert(10%) sepia(300%) saturate(1000%) hue-rotate(290deg) brightness(80%) contrast(23%);
        }
    }
}
/*Finaliza Nosotros desktop*/