/* INICIA NUESTROS SERVICIOS */
#main-servicios{
    background-color: $secondary;
    background-repeat: no-repeat;
    background-size: cover;
    color: $light;
    display: flex;
    flex-direction: column;
    h2, h3{
        text-shadow: $primary 2px 1px 2px;
    }
}
.text__servicios{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/back-caracteristicas.webp);
    background-position: center;
    background-size: cover;
    color: $light;
    padding: 20px;
    text-align: center;
    align-self: center;
    p{
        text-align: start;
    };
}
.cards__asesoramiento, 
.cards__resolucion, 
.cards__defensa{
    @include cards-servicios-mobile;
}
/* FIN NUESTROS SERVICIOS */
/* INICIA SERVICIOS TABLET */
@media (min-width: 768px) {
    #main-servicios{
        background-color: $secondary;
    }
    .text__servicios{
        padding: 20px;
    }
    .cards__asesoramiento, .cards__resolucion, .cards__defensa{
        background-color: $primary;
        margin: 35px;
    }
}
// FIN SERVICIOS TABLET
/*INICIA SERVICIOS DESKTOP*/
@media  (min-width: 992px) {
    #main-servicios{
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/back-caracteristicas.webp);
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: 3fr 5fr;
        height: 120vh;
    }
    .text__servicios{
        background-color: #c3b0000b;
        background-image: none;
        color:#eadbdb;
        margin: 250px 0 220px 100px;
        padding: 20px;
        border: solid 1px #c8b013b4;
        border-radius: 8px;
        p{
            text-align: start;
        }
    }
    .cards__asesoramiento{
        @include cards-servicios-desktop(140px);
    }
    .cards__resolucion,
    .cards__defensa{
        @include cards-servicios-desktop(0);
    }
}
/*FIN SERVICIOS DESKTOP*/