/* HEADER MOBILE Y TABLET */
#main__header {
    width: 100vw;
    background-color: #070612;
    ul ul{
        display: none;
    }
    li{
        margin: 5px;
        text-align: center;
    }
}
#navbar-toggler{
    background-color: #c1902d;
    margin-right: 20px;
}
/* FIN HEADER MOBILE Y TABLET*/
// INICIA HEADER DESKTOP
@media  (min-width: 992px) {
    /* HEADER */
    #main__header {
        background: #070612ec;
        position: fixed;
        width: 100vw;
        display: grid;
        grid-template-columns: 200px auto;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        color: #fff7e8;
            a:hover{
                color: #C1902D;
            }
            ul ul li a::before,
            ul ul li a::after{
                content: '';
                height: 15px;
                width: 15px;
                left: -120px;
                position: absolute;
                transition: all .35s ease;
                opacity: 0;
            }
            ul ul li a::before{
                content: '';
                left: -5px;
                top: 15px;
                border-top: 1px solid #C1902D;
                border-right: 1px solid #C1902D;
                transform: translate(-100%, 50%);
            }
            ul ul li a:after {
            content: '';
                border-bottom: 1px solid #C1902D;
                border-left: 1px solid #C1902D;
                transform: translate(100%, -50%)
            }
            ul ul li a:hover:before,
            ul ul li a:hover:after{
                transform: translate(0,0);
                opacity: 1;
            }
            ul ul{
                display: none;
                position: absolute;
                background-color:#070612ed;
                border-style: solid;
                border-color:#c1902d6e;
                border-width: 1px;
                border-top: none;
                border-left: none;
                margin-top: auto;
                padding: 0 4px 20px 4px;
                left: -42px;
            li{
                display:block;
            }
            a:after,
            a::before{
                border: none;
            }
            }
                &__nav{
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    width: 100vh;
                    gap: 130px;
                    padding-left: 220px;
                    transition: all .3s ease;
                        li{
                            display: inline-block;
                            list-style: outside none none;
                        }
                        ul li a{
                            margin-left: 120px;
                            padding-left: 10px;
                            margin-top: 1px;
                        }
                        a{
                            position: relative;
                            text-decoration: none;
                            font-weight: 400;
                        }
                        a::before, a::after{
                            content: '';
                            height: 15px;
                            width: 15px;
                            position: absolute;
                            transition: all .35s ease;
                            opacity: 0;
                        }
                        a::before{
                            content: '';
                            right: -10px;
                            top: -10px;
                            border-top: 1px solid #C1902D;
                            border-right: 1px solid #C1902D;
                            transform: translate(-100%, 50%);
                        }
                        a::after{
                            content: '';
                            left: -10px;
                            bottom: -10px;
                            border-bottom: 1px solid #C1902D;
                            border-left: 1px solid #C1902D;
                            transform: translate(100%, -50%);
                            z-index: 1;
                        }
                        a:hover:before,
                        a:hover:after{
                            transform: translate(0,0);
                            opacity: 1;
                        }
                }
    }
    .header__img{
        padding-left: 70px;
        :hover{
            transform: scale(1.1);
            transition: 0.1s;  
        }
    }
    #main__header ul li{
        display: block;
        position: relative;
    }
    #main__header ul li:hover ul{
        display: block;
    }
}
// FIN HEADER DESKTOP